# ignore all files and directories
*

# include only the following
!docs/
!docs/*
!firedm/
!firedm/*.py
!ChangeLog.txt
!contributors.md
!LICENSE
!firedm.py
!README.md
!requirements.txt
!setup.py
!todo.md
!.gitignore


