# ignore all files and directories
*

# include only the following
!docs/
!docs/*
!firedm/
!firedm/*.py
!ChangeLog.txt
!contributors.md
!LICENSE
!firedm.py
!README.md
!requirements.txt
!setup.py
!todo.md
!.gitignore
!.gitattributes
!scripts/
!scripts/utils.py
!scripts/updatepkg.py
!scripts/exe_build
!scripts/exe_build/exe-fullbuild.py
!scripts/exe_build/exe-quickbuild.py
!scripts/appimage
!scripts/appimage/appimage-fullbuild.sh
!scripts/appimage/appimage-quickbuild.py


